.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    color: white;
    text-decoration: none;
    font-family: "Verdana";
}

.dialogsItems .active {
    color: darkgreen;
    text-decoration: none;
}

.messages {
    color: white;
    font-style: bold;
}

.messagesItems {
    padding: 10px;
    color: white;
    font-style: bold;
}
